html {
  box-sizing: border-box;
}
th{
  cursor: pointer;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.taskBox{
  width: 202px;
  background-color: #eee;
  color: #222;
  border: 1px solid #ccc;
  padding: 0;
  margin: 2px auto;
}
.text{
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
}
.button{
  cursor: pointer;
  width: 100px;
  background-color: #dddddd;
  padding: 10px 15px;
  border: none;
}
.buttonLight{
  font-weight: bold;
  background-color: #ccc;
}
.buttonLight:hover{
  background-color: #aaa;
}
.buttonRed{
  background-color: #ffdddd;
}
.buttonRed:hover{
  background-color: #ff5555;
}
.buttonSave{
  margin-left: 50px;
}
.buttonNew{
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  color: #000;
  font-weight: bold;
  font-size: 40px;
  padding: 0;
  line-height: 1.2;
}
.buttonNew span{
  position: relative;
  top: -5px;
}
.buttonNew:hover{
  background-color: #cccccc;
}
.buttonNew:focus{
  box-shadow:none;
  outline: none;
}
.field{
  width: 200px;
  margin: 0 auto;
}
.textPush{
  width: 100%;
  padding: 5px;
}
.taskInput{
width: 150px;
height: 50px;
padding: 0;
vertical-align: top;
}